---
import ContactLink from './ContactLink.astro'
import SectionTitle from './SectionTitle.astro'

import { LINKS } from '@/i18n/ui'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id="contact">
  <SectionTitle title={t('contact.contact')} />
  <div class="pl-4 mb-[50px]">
    <ContactLink
      label="GitHub: /drewdomi"
      leftIcon="bi:github"
      href={LINKS.github}
    />
    <ContactLink
      label="LinkedIn: /in/drewdomi"
      leftIcon="bi:linkedin"
      href={LINKS.linkedin}
    />
    <ContactLink
      label="Email: contato@drewdomi.com"
      leftIcon="bi:envelope-fill"
      href={LINKS.email}
    />
    <ContactLink
      label={t('contact.discord')}
      leftIcon="simple-icons:discord"
      href={LINKS.discord}
    />
  </div>
</section>
